    <div data-role="content">
        <div class="login-handler white-gloss shadow-all radius-all">
            <div class="errorLog">
            </div>
            <form id="form-login">               
            	<input type="text" id="inp_name01" placeholder="{{t 'K_NAME_01'}}" required/><br/>
            	<input type="text" id="inp_name02" placeholder="{{t 'K_NAME_02'}}" required/><br/><br/>
            	<button class="dark-blue-gloss" type="submit" id="btn_idSubmit">{{t 'K_OK'}}</button>
            </form>
        </div>
        <br/>
        <br/>       
    </div>
